body {
	font-family: 'SN Pro', sans-serif;
	font-optical-sizing: auto;
	text-align: center;

	background-color: rgb(44, 44, 44);
	color: white;
}

.centerdiv {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
}

.fullcenterdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	margin-top: 9vh;
	flex-direction: column;
}

.row {
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: row;
	gap: 10vw;
}
h1 {
	font-size: 10vw;
}

h2 {
	font-size: 7vw;
	margin-top: 10vh;
}

.bottomtext {
	position: fixed;
	bottom: 2vh;
}

.apptitle {
	font-size: 5vw;
	font-weight: 500;
	margin-bottom: 0;
}
.back {
	font-family: 'SN Pro', sans-serif;
	font-optical-sizing: auto;

	flex-direction: column;
	display: flex;
	color: white;
	background-color: rgb(124, 169, 159);
	width: 20vw;
	height: 6vw;
	align-items: center;
	justify-content: center;
	border-radius: 5vw;
	text-decoration: none;
	font-size: 3vw;
	outline: none;
	margin-top: 3vh;
	border: none;
	margin-bottom: 4vh;
}

.nodecor {
	text-decoration: none;
	color: white;
}

a {
	color: rgb(239, 151, 103);
}

.selectA {
	font-size: 3vw;
	text-decoration: none;
	color: white;
	font-weight: 600;
}

img {
	max-height: 60vh;
	border-radius: 10vh;
	margin-top: 5vh;
}

button {
	font-family: 'SN Pro', sans-serif;
	font-optical-sizing: auto;
	margin-top: 10vh;
	flex-direction: column;
	display: flex;
	color: white;
	background-color: rgb(124, 169, 159);
	width: 20vw;
	height: 6vw;
	align-items: center;
	justify-content: center;
	border-radius: 5vw;
	text-decoration: none;
	font-size: 3vw;
	outline: none;
	border: none;
	margin-bottom: 4vh;
}
.divider {
	width: 15vw;
	height: 1vh;
	background-color: rgb(30, 30, 30);
	border-radius: 30px;
	margin: 5vh;
}
p {
	width: 70vw;
	font-size: 3vw;
}

.square {
	width: 20vw;
	height: 20vw;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3vw;
	flex-direction: column;
	min-height: 20vw;
}

.smallSquare {
	width: 10vw;
	height: 10vw;
	background-color: rgb(213, 96, 96);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3vw;
	flex-direction: column;
}

.list {
	margin-top: 10vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
